{{#page}}
  {{#if new}}
    <span class="new">NEW</span>
    <br>
  {{/if}}
  No.{{number}} {{name}}
  {{#if new}}
    <br>をGETしました!
  {{/if}}
  <img class="img-rounded" src="/images/mushi_{{slug}}.png">
  <p>
    気持ち:{{elementName element}}
  </p>
  <p>
    {{description}}
  </p>
  <div>
    <a href="#" class="back">もくじ</a>
  </div>
{{/page}}
